.event-page {
  padding: 5px 15px 0;
  margin: 5px 5% 0;

  h2 { text-align: center; }

  time {
    display: block;
    text-align: center;
    font-size: 2em;
  }

  article {
    font-size: 1.2em;
    margin: 1em 0 3em;
    padding: 1em 1em;
    background: #F2F2F2;
    box-shadow: 0 0 1px 1px #aaa;
  }
}
