.panorama {
  margin-top: -10px;
  padding: 5px 3px 0;
  display: none;
  img { width: 32.95%; }
  @media (#{$bp-larger-than-tablet}) { display: block; }
  @media (#{$bp-larger-than-desktop}) { img { width: 33%; } }
}

.image-attributions {
  text-align: right;
  margin: 0 10px;
}

.home .feed {
  background: #F2F2F2;
  box-shadow: 0 0 1px 1px #aaa;

  li:hover {
    background: #fff;
    box-shadow: inset 0 0 3px 1px #ABABAB;
  }

  @media (#{$bp-larger-than-phablet}) {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 1%;
  }
}

.home + footer .attribution {
  display: none;
  @media (#{$bp-larger-than-phablet}) { display: block; }
}