.join {
  padding: 5px 15px 0;
  margin: 5px 1% 0;

  h2, h3 { text-align: center; }
  input, button { width: 100%; }

  section {
    background: #FAFAFA;
    box-shadow: 0 0 1px 1px #aaa;
    margin: 5px 1% 15px;
    padding: 5px 3%;
  }

  @media (#{$bp-larger-than-tablet}) {
    section {
      display: inline-block;
      width: 41%;
      vertical-align: top;
    }
  }
}
