.member-page {
  padding: 5px 15px 0;
  margin: 5px 3% 0;

  h2 { text-align: center; }

  article, section {
    margin: 18px 0;
    padding: 18px;
    background: #F2F2F2;
    box-shadow: 0 0 1px 1px #aaa;
  }

  time { display: block; }

  iframe {
    border: 1px solid #BBB;
    height: 25em;
    width: 100%;
  }

  article {
    font-size: 1.2em;
    h2 { text-align: left; }
  }

  @media (#{$bp-larger-than-tablet}) {
    section {
      width: 42%;
      display: inline-block;
      vertical-align: top;
      margin-right: 2%;
      & + section { margin-right: 0; }
    }
  }

  @media (#{$bp-larger-than-desktop}) {
    section { width: 44.5%; }
  }
}
