.members {
  padding: 5px 15px;
  margin: 5px 1%;
  text-align: center;

  h2 { text-align: center; }
  input { width: 100%; }

  #menu {
    background: #863131;
    box-shadow: 0 0 1px 1px #731414;
    padding: 4%;
    color: #fff;

    .selectable {
      padding: 0 10px;
      cursor: pointer;
    }
  }

  h4 { font-size: 1.7em; }

  h3.selected, h4.selected {
    background: #4F1A1A;
    box-shadow: inset 0 0 3px 1px #640F0F;
  }

  section {
    margin-top: 1em;
  }

  a {
    vertical-align: top;
    font-size: 1.2em;
    padding: 0.2em 0;
    display: block;
    font-family: roboto;
  }

  @media (#{$bp-larger-than-tablet}) {
    text-align: left;

    h2 { margin-bottom: 0; }

    aside {
      display: inline-block;
      width: 18%;
      vertical-align: top;
      margin-right: 3%;
    }

    section {
      display: inline-block;
      width: 78%;
    }

    a {
      display: inline-block;
      width: 23%;
      padding-right: 1%;
    }
  }
}