{% if include.details.place and include.details.place != '-' %}
  {% assign address = site.data.places[include.details.place] %}
{% else %}
  {% assign address = include.details %}
{% endif %}

{% if include.details.organizer or include.details.website or include.details.facebook or include.details.twitter or include.details.linkedin or include.details.google-plus or include.details.instagram or include.details.youtube or include.details.ebay or include.details.pinterest or include.details.telephone or include.details.email or address.postcode %}

  {% if include.itemtype %}
  <section itemscope itemtype='http://schema.org/{{ include.itemtype }}'>
  {% else %}
  <section>
  {% endif %}
    <h3>Details</h3>
    <table>
      <tbody>

        {% if include.details.organizer %}
          <tr>
            <th>Organizer:</th>
            <td>{{ include.details.organizer }}</td>
          </tr>
        {% endif %}

        {% if include.details.website %}
          <tr>
            <th>Website:</th>
            <td>
              <a href='{{ include.details.website }}' itemprop='url' target='_blank'>
                {{ include.details.website | replace: 'http://', '' | replace: 'https://', '' }}
              </a>
            </td>
          </tr>
        {% endif %}

        {% if include.details.facebook or include.details.twitter or include.details.linkedin or include.details.google-plus or include.details.instagram or include.details.youtube or include.details.ebay %}
          <tr>
            <th>Social Media:</th>
            <td>
              {% if include.details.facebook %}
                <a href='{{ include.details.facebook }}' target='_blank'>
                  <img src='{{ site.cloudinary }}/facebook.png' />
                </a>
              {% endif %}
              {% if include.details.twitter %}
                <a href='https://twitter.com/{{ include.details.twitter | replace: '@', ''}}' target='_blank'>
                  <img src='{{ site.cloudinary }}/twitter.png' />
                </a>
              {% endif %}
              {% if include.details.linkedin %}
                <a href='{{ include.details.linkedin }}' target='_blank'>
                  <img src='{{ site.cloudinary }}/linkedin.png' />
                </a>
              {% endif %}
              {% if include.details.google-plus %}
                <a href='{{ include.details.google-plus }}' target='_blank'>
                  <img src='{{ site.cloudinary }}/google-plus.png' />
                </a>
              {% endif %}
              {% if include.details.instagram %}
                <a href='{{ include.details.instagram }}' target='_blank'>
                  <img src='{{ site.cloudinary }}/instagram.png' />
                </a>
              {% endif %}
              {% if include.details.youtube %}
                <a href='{{ include.details.youtube }}' target='_blank'>
                  <img src='{{ site.cloudinary }}/youtube.png' />
                </a>
              {% endif %}
              {% if include.details.ebay %}
                <a href='{{ include.details.ebay }}' target='_blank'>
                  <img src='{{ site.cloudinary }}/ebay.png' />
                </a>
              {% endif %}
              {% if include.details.pinterest %}
                <a href='{{ include.details.pinterest }}' target='_blank'>
                  <img src='{{ site.cloudinary }}/pinterest.png' />
                </a>
              {% endif %}
            </td>
          </tr>
        {% endif %}

        {% if include.details.telephone %}
          <tr>
            <th>Telephone:</th>
            <td itemprop='telephone'>{{ include.details.telephone }}</td>
          </tr>
        {% endif %}

        {% if include.details.email %}
          <tr>
            <th>Email:</th>
            <td>
              <a href='mailto:{{ include.details.email }}' itemprop='email'>
                {{ include.details.email }}
              </a>
            </td>
          </tr>
        {% endif %}

        {% if address.postcode %}
          <tr>
            <th>Address:</th>
            <td><address itemprop='address'
                         itemscope itemtype='http://schema.org/PostalAddress'>
              <span itemprop='streetAddress'>
                {{ address.address1 }}
                {% if address.address2 %}<br />
                {{ address.address2 }}{% endif %}
              </span><br />

              <span itemprop='addressLocality'>
                {{ address.city }}
              </span><br />

              <span itemprop='addressRegion'>
                {{ address.county }}
              </span><br />

              <span itemprop='addressCountry'>
                {{ address.country }}
              </span><br />

              <span itemprop='postalCode'>
                {{ address.postcode }}
              </span>
            </address></td>
          </tr>
        {% endif %}

        {% if include.details.opening-hours.size > 0 %}
          <tr>
            <th>Opening Hours:</th>
            <td>
              {% for range in include.details.opening-hours %}
              <time itemprop='openingHours' datetime='{{ range }}'>
                {{ range | replace: 'Mo', 'Monday' | replace: 'Tu', 'Tuesday' | replace: 'We', 'Wednesday' | replace: 'Th', 'Thursday' | replace: 'Fr', 'Friday' | replace: 'Sa', 'Saturday' | replace: 'Su', 'Sunday' | replace '-', ' - ' }}
              </time>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
{% endif %}