{% for event in include.events %}
<li class='event' data-date='{{ event.date }}'>
  <a href='{{ event.url }}'>
    <h3>{{ event.title }}</h3>
    <time>
      {{ event.date | date: "%d %B" }}

      {% if event.end-date %}
        - {{ event.end-date | date: "%d %B" }}
      {% endif %}

      {% if event.start-time != '-' %}
        {{ event.start-time }}{% if event.end-time != '-' %}-{{ event.end-time }}
        {% endif %}
      {% endif %}
    </time>
    <p>{{ event.content | strip_html | truncatewords: 100 }}</p>
  </a>
</li>
{% endfor %}