<header>
  <a href='/'><img src='{{ site.cloudinary }}/logo.png' /></a>
  <h1>{{ site.title }}</h1>
</header>

<nav role='navigation'>
  <ul>
    <li><a href='/news'>News</a></li>
    <li><a href='/events'>Events</a></li>
    <li><a href='/members'>Members</a></li>
    <li><a href='/offers'>Member Offers</a></li>
    <li><a href='/resources'>Resources</a></li>
    <li><a href='/contact'>Contact</a></li>

    <li class='social-media'>
      <a href='{{ site.contact.facebook }}' target='_blank'>
        <img src='{{ site.cloudinary }}/fb.png' />
      </a>
      <a href='https://twitter.com/{{ site.contact.twitter | replace: '@', ''}}'
         target='_blank'>
        <img src='{{ site.cloudinary }}/twitter.png' />
      </a>
    </li>
  </ul>
</nav>
