---
layout: default
permalink: /
---

<main class='home'>
  <img src='{{ site.cloudinary}}/river.jpg' class='hero'/>
  <section class='feed'>
    <a href='/news'><h2>News</h2></a>
    <ul>
      {% assign articles = site.news | reverse %}
      {% for article in articles limit:3 %}
      <li>
        <a href='{{ article.url }}'>
          <h3>{{ article.heading }}</h3>
          <time>{{ article.date | date: "%d %B"}}</time>
          <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class='feed'>
    <a href='/events'><h2>Events</h2></a>
    <ul>
      {% for event in site.events %}
      <li class='event' data-date='{{ event.date | date: "%y-%m-%d" }}'>
        <a href='{{ event.url }}'>
          <h3>{{ event.heading }}</h3>
          <time>
            {{ event.date | date: "%d %B" }}

            {% if event.end-date %}-
              {{ event.end-date | date: "%d %B" }}
            {% endif %}

            {% if event.start-time != '-' %}
              {{ event.start-time }}{% if event.end-time != '-' %}-{{ event.end-time }}
              {% endif %}
            {% endif %}
          </time>
          <p>{{ event.content | strip_html | truncatewords: 30 }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>

<footer>
  Image by:
  <a href='https://www.flickr.com/photos/16516058@N03/7871270868' target='_blank'>PapaPiper (Travelling)</a>
</footer>

<script>
  (function(){
    var events = document.querySelectorAll('.event');
    var today = Date.now();
    var show = 3;

    for(var i = 0; i < events.length; i++) {
      var date = Date.parse(events[i].getAttribute('data-date'));

      if(date > today && show > 0) {
        show -= 1;
      } else {
        events[i].className = events[i].className.concat(' hide');
      }
    }
  })();
</script>
