---
layout: default
permalink: /
---

<main class='home'>
  <section class='panorama'>
    <img src='{{ site.cloudinary}}/street.jpg' />
    <img src='{{ site.cloudinary}}/train.jpg' />
    <img src='{{ site.cloudinary}}/abbey.jpg' />
  </section>
  <section class='feed'>
    <a href='/news'><h2>News</h2></a>
    <ul>
      {% assign articles = site.news | reverse %}
      {% for article in articles limit:3 %}
      <li>
        <a href='{{ article.url }}'>
          <h3>{{ article.title }}</h3>
          <time>{{ article.date | date: "%A %d %b"}}</time>
          <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class='feed'>
    <a href='/events'><h2>Events</h2></a>
    <ul>
      {% for event in site.events limit:3 %}
      <li>
        <a href='{{ event.url }}'>
          <h3>{{ event.title }}</h3>
          <time>
            {{ event.date | date: "%A %d %b" }}
            {{ event.end-date | date: "%A %d %b" }}
            {% if event.start-time != '-' %}
              {{ event.start-time }}{% if event.end-time != '-' %}-{{ event.end-time }}
              {% endif %}
            {% endif %}
          </time>
          <p>{{ event.content | strip_html | truncatewords: 30 }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>

<footer>
  Images by:
  {% for attribution in site.data.image-attributions %}
    <a href='{{ attribution.link }}' target='_blank'>{{ attribution.by }}</a>
    {% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
</footer>
