---
layout: default
permalink: /members/
---

<main class='members'>
  <h2>Members</h2>
  <aside>
    <input type='text'
           placeholder='Search...'
           onkeypress='search(this)'
           onpaste='search(this)'
           oninput='search(this)' />
    <div id='menu'>
      <h3 class='selectable selected' onClick='select(this)' id='all-heading'>
        All
      </h3>
      <h3>By Category:</h3>
    </div>
  </aside>
  <section>
    {% for member in site.members %}
      <a href='{{ member.url }}' id='member{{ forloop.index0 }}'>
        {{ member.title }}
      </a>
    {% endfor %}
  </section>
</main>

<script>
  var totals = {};
  var titles = ["{{ site.members | map: 'title' | join: '", "' }}"];
  var categories = [{% for member in site.members %}["{{ member.categories | join: '", "' }}"],{% endfor %}];

  for(var i = 0; i < categories.length; i++) {
    for(var j = 0; j < categories[i].length; j++) {
      totals[categories[i][j]] = (totals[categories[i][j]] || 0) + 1;
    }
  }

  (function() {
    var menu = document.getElementById('menu');
    var docfrag = document.createDocumentFragment();

    for(var category in totals) {
      var heading = document.createElement('h4');
      heading.textContent = category + ' (' + totals[category] + ')';
      heading.onclick = categorySelector(heading, category);
      heading.className = 'selectable';
      docfrag.appendChild(heading);
    }

    menu.appendChild(docfrag);
  })();

  function select(heading) {
    document.querySelector('.selected').className = 'selectable';
    heading.className = 'selectable selected';
    showAll();
  }

  function showAll() {
    var all = document.querySelectorAll('.hide');
    for(var i = 0; i < all.length; i++) { all[i].className = ''; }
  }

  function hide(i) {
    document.getElementById('member' + i.toString()).className = 'hide';
  }

  function categorySelector(heading, category) {
    return function() {
      select(heading);

      for(var i = 0; i < categories.length; i++) {
        if(categories[i].indexOf(category) < 0) { hide(i); }
      }
    };
  }

  var allHeading = document.getElementById('all-heading');

  function search(input) {
    if(input.value === '') {
      select(allHeading);
    } else {
      select(input);
      for(var i = 0; i < titles.length; i++) {
        if(!titles[i].match(new RegExp(input.value, 'i'))) { hide(i); }
      }
    }
  }
</script>