---
layout: default
permalink: /members/
categories:
  - Business Services
  - Food
  - Healthcare
  - Leisure
  - Not for Profit
  - Other Services
  - Retail
  - Trades Services
---

<main class='members'>
  <h2>Members</h2>
  <aside>
  {% for category in page.categories %}
    <h3 class='selectable {% if forloop.first %}selected{% endif %}'
        onClick='select(this)' data-category='.category{{ forloop.index }}'>
      {{ category }}
    </h3>
  {% endfor %}
  </aside>

  {% for category in page.categories %}
    <section class='category{{ forloop.index }} {% if forloop.index0 != 0 %}hide{% endif %}'>
      {% assign members = site.members | where: 'category', category %}
      {% for member in members %}
        <a href='{{ member.url }}'>{{ member.title }}</a>
      {% endfor %}
    </section>
  {% endfor %}
</main>

<script>
  function select(label) {
    var selected = document.querySelector('.selected');
    var selectedSection = document.querySelector(selected.dataset.category);
    selected.className = selected.className.replace(' selected', '');
    selectedSection.className = selectedSection.className.concat(' hide');

    selected = label;
    selectedSection = document.querySelector(selected.dataset.category);
    selected.className = selected.className.concat(' selected');
    selectedSection.className = selectedSection.className.replace(' hide', '');
  }
</script>