---
layout: default
permalink: /members/
---

<main class='members'>
  <h2>Members</h2>
  <aside>
    <h3 class='selectable selected' data-category='all' onClick='select(this)'>
      All
    </h3>
    <h3>By Category:</h3>
  </aside>
  <section>
    {% for member in site.members %}
      <a href='{{ member.url }}' id='member{{ forloop.index0 }}'>
        {{ member.title }}
      </a>
    {% endfor %}
  </section>
</main>

<script>
  var totals = {};
  var titles = ["{{ site.members | map: 'title' | join: '", "' }}"];
  var categories = [{% for member in site.members %}["{{ member.categories | join: '", "' }}"],{% endfor %}];

  for(var i = 0; i < categories.length; i++) {
    for(var j = 0; j < categories[i].length; j++) {
      totals[categories[i][j]] = (totals[categories[i][j]] || 0) + 1;
    }
  }

  (function() {
    var aside = document.getElementsByTagName('aside')[0];
    var docfrag = document.createDocumentFragment();

    for(var category in totals) {
      var heading = document.createElement('h4');
      heading.textContent = category + ' (' + totals[category] + ')';
      heading.onclick = categorySelector(heading, category);
      heading.className = 'selectable';
      docfrag.appendChild(heading);
    }

    aside.appendChild(docfrag);
  })();

  function select(heading) {
    document.querySelector('.selected').className = 'selectable';
    heading.className = 'selectable selected';
    showAll();
  }

  function showAll() {
    var all = document.querySelectorAll('.hide');
    for(var i = 0; i < all.length; i++) { all[i].className = ''; }
  }

  function categorySelector(heading, category) {
    return function() {
      select(heading);

      for(var i = 0; i < categories.length; i++) {
        if(categories[i].indexOf(category) < 0) {
          var el = document.getElementById('member' + i.toString());
          el.className = 'hide';
        }
      }
    };
  }
</script>