---
layout: default
permalink: /past-events/
---
<main class='events'>
  <section class='feed'>
    <h2>Past Events</h2>
    <a href='/events' class='future-link'>Future Events</a>
    <ul>
      {% assign events = site.events | reverse %}
      {% for event in events %}
      <li class='event' data-date='{{ event.date }}'>
        <a href='{{ event.url }}'>
          <h3>{{ event.title }}</h3>
          <time>
            {{ event.date | date: "%A %d %b %Y" }}
            {{ event.end-date | date: "%A %d %b %Y" }}
            {% if event.start-time != '-' %}
              {{ event.start-time }}-{% if event.end-time != '-' %}{{ event.end-time }}
              {% endif %}
            {% endif %}
          </time>
          <p>{{ event.content | strip_html | truncatewords: 100 }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
    <button onClick='loadMore()'>Load More</button>
  </section>
</main>

{% include loadMore.html %}
{% include hideEvents.html past=true limit=site.page_size %}
