---
layout: default
---

<main class='member-page' itemscope itemtype='http://schema.org/LocalBusiness'>
  <div class='heading'>
    {% if page.logo %}
      <img src='{{ site.cloudinary}}/{{ page.logo }}' alt='{{ page.heading }}' />
    {% endif %}
    <h2 itemprop='name'>{{ page.heading }}</h2>
  </div>

  {% include details.html details=page %}
  {% include map.html %}

  {% assign striped_content = page.content | strip_html | strip_newlines %}
  {% if striped_content != '' %}
    <article itemprop='description'>{{ page.content }}</article>
  {% endif %}
</main>
